/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.hoverspan {
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 14px;
    /*height: 125px;
    width: 275px;*/
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    text-align: left;
    /* text-transform: uppercase; */
    top: -80px;
    left:-30px;
    display: none;
    padding:0 20px;    
}
.hoverspan:after{
    content:'';
    position:absolute;
    top:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(-135deg);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
}  
/* its a great CSS reset, easier for you to move padding nothin gets automateds*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.group:before,.group:after {
    content: "";
    display: table
}
.group:after {
    clear: both
}


.group {
    zoom: 1;
    max-width: 800px;
    margin: 0 auto;
}
.game{
    background: #CCCCCC;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*.game_block > .game{*/
    /*opacity: 0.9;*/
/*}*/
.game_container{
    display:block;
}
.game_buttons{
    float: right;
    text-align : center;
    width: 200px;
    display-inline:block;
}
.game_left{
    display:inline;
    margin-right: 40px;
    width:250px;
    float:left;
}
.game_right{
    display:inline-block;
    width:500px;
    /*min-width:300px;*/
    float:left;

    box-sizing: border-box;

}
.game_info{
    /*float:left;*/
    width:300px;
    display:inline-block;

}
.game_info_top{
    border-bottom: solid black;
    border-width: 1px;
    margin-bottom:10px;
    margin-top: 10px;
}
.game_info p{
    display:inline;
}
.game_info_name{
    font-size: 1.1em;
    margin-right:50px;
    font-weight: 800;
}
.game_block .group{
    position: relative;
    /*margin-right: auto;*/
    /*margin-left:auto;*/
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
}
.user-widget{
    position:fixed;
    right: 20px;
    top:8px;
    width:200px;
    background: #cccccc;
    padding:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align:center;
    border: solid black;
    border-width: 1px;
    z-index: 1;
}
.page_header{
    text-align:center;
    width:500px;
    margin:0 auto;
}
.wyngame{
    text-align:center;
    font-size:5em;
}
.form{
    text-align:center;
    background:#cccccc;
    width: 200px;
    margin: auto;
    padding:30px;
    border-radius:15px
}

.page_sub_heading{
    font-size: 2em;
    text-align: center;
    /*margin: 0px 0px 40px 0px;*/
    padding-bottom: 10px;
    border-bottom: solid black;
}
.top_game_name{
    font-size:1.2em;
    margin-bottom: 20px;
}
.welcome{
    border-bottom: solid black;
    border-bottom-width: 1px;
    margin-bottom: 5px;

}
em{
    color:deepskyblue;
}
.content{
    padding-top: 30px;
    background: url(http://i.imgur.com/7YpqL.png) no-repeat center fixed;
    -webkit-background-size: 110%;
    background-size: 110%;
    min-height: 1000px;
}
.buy_box{
 margin-bottom: 15px;
    margin-top: 30px;
    /*border: solid black;*/
    border-width: 1px;
    height:70px;
    padding:20px;
}
.admin_edit p{
    display:inline;
}
.edit_button{
    margin-right:10px;
}
.buy_button{
    font-size:3em;
    margin-top:20px;
}
.current_reviews{
    margin-top:40px;
    width: 530px;
    margin:auto;
}

.current_reviews h2{
    font-size:1.2em;
    border-bottom: solid black;
    border-width: 1px;
    margin-bottom:15px;


}

.add_comment{
    margin-top:30px;
    border-bottom:solid black;
    border-width:1px;
}
.comment_tag{
    font-size:0.65em;
}
.user_review{
    border-bottom: dashed black;
    border-width: 1px;
    margin-top:10px;
    padding-bottom:10px;
}

.game_info_show h2{
    margin-top:30px;
    border-bottom: solid black;
    border-width: 1px;
    font-size:1.5em;
}

.comment_tag{
    margin-top: 5px;
}

.bottom_back{
    padding-bottom: 40px;
    display:inline-block;
}