/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.entire_page {
  background: url(mario_day.jpg) no-repeat center fixed;
  text-align: center;
  background-size: ;
  border: 5px;
}
.game_info {
  background-color: #cccccc;
  margin-left: 20%;
  width: 60%;
  box-shadow:1px 1px black;
}

#decription {
  width: 280;
  height: 125;
  font: red;
}



h3 {
}
