/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.entire_page {
  background: url(http://lowfatgaming.files.wordpress.com/2013/05/super-mario-world-241125.jpg) no-repeat center fixed;
  text-align: center;
  padding: 15px;
}
.game_pic_show {
  padding: 25px;
}

.game_name {
  font-size: 36px;
  font-weight: bold;
}

.game_info_show {
  background-color: #cccccc;
  margin-left: 20%;
  width: 60%;
  border-radius: 10px;
  border: 4em;
}

.game_desc {
  width: 530px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
}